@import "tailwindcss";

@theme {
  --color-blue-50: #edf0fe;
  --color-blue-100: #dce1fd;
  --color-blue-200: #b8c4fb;
  --color-blue-300: #92a8f9;
  --color-blue-400: #678bf7;
  --color-blue-500: #286ff4;
  --color-blue-600: #1e58c4;
  --color-blue-700: #144297;
  --color-blue-800: #0b2d6b;
  --color-blue-900: #041943;
  --color-blue-950: #020f2e;
}
@layer {
  .iconStyle {
    @apply cursor-pointer transition duration-300;
  }
  .inputBoxStyle {
    @apply py-2 pl-5 outline-none border rounded-xl w-full mb-2 border-gray-500;
  }
}
